---
layout: default
---

<div class="max-w-2xl py-0 px-6 mx-auto mt-0 mb-20 md:mt-10 lg:mt-16 xl:mt-18 mb-20">
  <h1 class="text-4xl font-semibold text-deep-azure-zeta tracking-tight leading-tight mb-6">
    {{ page.title }}
  </h1>
  
  {{ content }}

</div>