// $body-background: #fafafa;
// $body-color: #444;

// TODO: remove
// TODO: remove
// TODO: remove
// body {
//   background: $body-background;
//   color: $body-color;
//   font-family: sans-serif;
// }

// h1, nav, footer {
//   text-align: center;
// }

// main {
//   margin: 4rem auto;
//   max-width: 60rem;
// }

.text-apple { color: #61ac3b }

.text-deep-azure-alfa { color: #1d61aa }
.text-deep-azure-beta { color: #195595 }
.text-deep-azure-gamma { color: #16487f}
.text-deep-azure     { color: #123c69 }
.text-deep-azure-delta { color: #0e3053 }
.text-deep-azure-epsilon { color: #0b233d }
.text-deep-azure-zeta { color: #071728 }

.text-azure-tint-100 { color: #e7ebf0 }
.text-azure-tint-200 { color: #cfd8e1 }
.text-azure-tint-300 { color: #b7c4d2 }
.text-azure-tint-400 { color: #a0b1c3 }
.text-azure-tint-500 { color: #889db4 }
.text-azure-tint-600 { color: #708aa5 }
.text-azure-tint-700 { color: #597696 }
.text-azure-tint-800 { color: #416287 }
.text-azure-tint-900 { color: #294f78 }

.bg-azure-tint-100 { background-color: #e7ebf0 }
.bg-azure-tint-200 { background-color: #cfd8e1 }
.bg-azure-tint-300 { background-color: #b7c4d2 }
.bg-azure-tint-400 { background-color: #a0b1c3 }
.bg-azure-tint-500 { background-color: #889db4 }
.bg-azure-tint-600 { background-color: #708aa5 }
.bg-azure-tint-700 { background-color: #597696 }
.bg-azure-tint-800 { background-color: #416287 }
.bg-azure-tint-900 { background-color: #294f78 }

.bg-deep-azure-alfa    { background-color: #1d61aa }
.bg-deep-azure-beta    { background-color: #195595 }
.bg-deep-azure-gamma   { background-color: #16487f }
.bg-deep-azure         { background-color: #123c69 }
.bg-deep-azure-delta   { background-color: #0e3053 }
.bg-deep-azure-epsilon { background-color: #0b233d }
.bg-deep-azure-zeta    { background-color: #071728 }

.text-ruby-alfa    { color: #cb688a }
.text-ruby-beta    { color: #c5557b }
.text-ruby-gamma   { color: #be426c }
.text-ruby         { color: #ac3b61 }
.text-ruby-delta   { color: #993456 }
.text-ruby-epsilon { color: #862e4c }
.text-ruby-zeta    { color: #732741 }

.bg-ruby-alfa    { background-color: #cb688a }
.bg-ruby-beta    { background-color: #c5557b }
.bg-ruby-gamma   { background-color: #be426c }
.bg-ruby         { background-color: #ac3b61 }
.bg-ruby-delta   { background-color: #993456 }
.bg-ruby-epsilon { background-color: #862e4c }
.bg-ruby-zeta    { background-color: #732741 }


.bg-lily   { background-color: #bab2b5 }
.bg-watzusi   { background-color: #edc7b7 }
.bg-fair-pink   { background-color: #eee2dc }
.bg-hover-pink { background-color: #f6f0ed}
.bg-azure-gray  { background-color: #e6e7e9 }
.bg-apple { background-color: #61ac3b }

// Old setup

.deep-pink {
  color: #c80967;
}

.light-pink {
  color: #ea6d9f;
}

.base-dark {
  color: #172034;
}

.base-gray {
  color: #9ba0a3;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.nav-shadow	{
  box-shadow: 0 3px 0 0#9ba0a3;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Mulish','Century Gothic',sans-serif;
}

main {
  flex: 1;
}

#hero-container {
  height: 100vh;
  background-color: #FFF;
  div { z-index: 49; }
  img { max-height: 12rem; }
}

#pill:hover::before {
  z-index: -100;
  background: #be426c;
  width: 100%;
}

#pill:before {
  -webkit-transition: all .4s;
  transition: all .4s;
  content: "";
  width: 50%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 23%;
  background: #be426c;
}

#pill span {
  padding-left: 2em;
}

#pill:hover {
  padding-right: 30px;
   
}

span.pill-text-hover-color:hover {
  color: #fff;
}

.rounded-pill {
  border-radius: 20px;
}

a.underline-pink {
	background: linear-gradient(transparent 70%, #fbb6ce 0);
	text-decoration: none;
	font-weight: 700;
}

a.underline-pink:hover {
  background: linear-gradient(transparent 70%, #f687b3 0);
}

.flex-basis-half {
  flex-basis: calc(50% - 2rem);
}

.circle {
  border-radius: 50%;
}

.grid.post {
	margin-top: 8rem;
	grid-gap: 5rem;
	grid-template-columns: 3fr 1fr;
}

.max-w-180 {
  max-width: 180px;
}

ul.list-initial li {
  list-style: initial;
}

pre.language-terminal {
	position: relative;
	background: #fff;
	color: #595c62;
	padding-top: 3rem;
	margin: 2rem 0;
	border-radius: .3rem;
	border: 1px solid #ced1d3;
}

pre.language-terminal::after {
	content: "Output";
	font-size: .9rem;
	position: absolute;
	top: 4px;
	right: 8px;
}

pre.language-terminal::before {
	content: "\2022   \2022   \2022";
	position: absolute;
	top: 0;
	left: 0;
	background: #e0e3e7;
	color: #b3b9c5;
	width: 100%;
	font-size: 2.5rem;
	margin: 0;
	line-height: 0;
	padding: 18px 0 16px;
	text-indent: 6px;
	letter-spacing: -18px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

h2.section-title
{ 
  position:relative; 
}

h2.section-title span {
  position:absolute;
  top:-100px;
}

// Category pills

.category {
  @apply relative ml-1 mt-2 w-auto text-sm font-bold inline-flex px-4 py-1 items-center justify-center rounded-full;  
}

.pill-color-gray {
  @apply bg-gray-300 text-gray-600;
}

.pill-color-frontend {
  @apply pill-color-gray;
}

.pill-color-red {
  @apply text-red-800 bg-red-300;
}

.pill-color-ruby, .pill-color-rails {
  @apply pill-color-red;
}

.pill-color-orange {
  @apply text-orange-800 bg-orange-300;
}

.pill-color-stimulus {
  @apply pill-color-orange;
}

.pill-color-yellow {
  @apply text-yellow-800 bg-yellow-300;
}

.pill-color-javascript {
  @apply pill-color-yellow;
}

.pill-color-green {
  @apply text-green-800 bg-green-300;
}

.pill-color-devise {
  @apply pill-color-green;
}

.pill-color-teal {
  @apply text-teal-800 bg-teal-300;
}

.pill-color-tailwind {
  @apply pill-color-teal;
}

.pill-color-blue {
  @apply text-blue-800 bg-blue-300;
}

.pill-color-devise {
  @apply pill-color-blue;
}

.pill-color-indigo {
  @apply text-indigo-800 bg-indigo-300;
}

.pill-color-hotwire {
  @apply pill-color-indigo;
}

.pill-color-purple {
  @apply text-purple-800 bg-purple-300;
}

.pill-color-forms {
  @apply pill-color-purple;
}

